<section class="flex items-center justify-center flex-col gap-3 mt-5 w-full h-full">
  <div class="todo-card bg-white p-5 gap-3 flex flex-col w-[800px]">
    <h1 class="text-slate-600 text-center" >Task Manager</h1>
    <div class="flex gap-5">
      <div class="bg-amber-500 p-2 rounded-md text-slate-800">Tasks-{{ totalTask() }}</div>
      <div class="bg-amber-500 p-2 rounded-md text-slate-800">Pending-{{ totalPendingTask() }}</div>
      <div class="bg-amber-500 p-2 rounded-md text-slate-800">Completed-{{ totalCompletedTask() }}</div>
    </div>
    <hr>
    <form class="flex gap-2 w-full" (submit)="addTask($event, inputTaskValue)">
      <input type="text" (change)="onHandleInput($event)" class="border-[1px] border-gray-300 rounded-[5px] w-5/6 p-2">
      <button type="submit" class="bg-amber-500 p-2 rounded-md text-slate-800">Add Tasks</button>
    </form>
    @if (tasks.length <= 0) {
      <div class="text-slate-600 text-center p-2 border-[1px] border-gray-300 rounded">Start Adding Task</div>
    } @else {
      <ul class="border-[1px] border-gray-300 rounded-[5px]">
        @for (task of tasks; track task.id) {
        <li class="p-2 flex items-center gap-2 justify-center border-b-[1px] border-gray-300 last-of-type:border-0">
          <div class="hover:line-through hover:text-red-300 flex-1 cursor-pointer" (click)="deleteTask(task.id)"> 
            {{ task.task }} {{ task.isCompleted ? '✅': '❌' }}
          </div>
          <button class="text-slate-700 border-[1px] border-slate-300 rounded-[5px] p-2" (click)="completeTask(task.id)">Completed</button>
        </li>
        }
      </ul>
    }
  </div>
</section>
<router-outlet />
